<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.outer_shopping.project.mapper.OuterMapper">
	<!-- 
			Outer 테이블 관련 mapper
			+ Outer 등록
			+ Outer 수정
			+ Outer 삭제
			+ Outer 조회
	 -->
	 
	<sql id="all-column">
	
	OUTER_NO, OUTER_TYPE, OUTER_NAME, OUTER_CONTENT, OUTER_PRICE, OUTER_DATE, OUTER_THUMBNAIL_NAME, OUTER_IMAGENAME
	</sql> 
	
	<!-- 전체 조회 sql -->
	<sql id="select-Outer-sql">
		SELECT 	OUTER_NO, OUTER_TYPE, 
				OUTER_NAME, OUTER_CONTENT, 
				OUTER_PRICE, OUTER_DATE, 
				OUTER_THUMBNAIL_NAME, OUTER_IMAGENAME
		FROM OUTER_TB
	</sql>	 
	
	<!-- 아웃터 + 사이즈 select sql -->
	<sql id="select-Outer-size-sql">
		SELECT  	o.OUTER_TYPE, o.OUTER_NAME, 
					o.OUTER_CONTENT, o.OUTER_PRICE, 
					o.OUTER_DATE, o.OUTER_THUMBNAIL_NAME, o.OUTER_IMAGENAME,
					s.SIZE_NO, s.SIZE_TYPE, s.CHEST,	
					s.SLEEVE, s.SHOULDER, 
					s.WHOLE, s.AMOUNT, s.COLOR, s.OUTER_NO 
		FROM		OUTER_TB o, OUTER_SIZE s	
		WHERE		o.OUTER_NO = s.OUTER_NO(+)
	</sql>
	
	<!-- 아웃터 + 사이즈 + 이미지 select sql -->	
		<sql id="select-Outer-size-picture-sql">
		SELECT  	o.OUTER_TYPE, o.OUTER_NAME, 
					o.OUTER_CONTENT, o.OUTER_PRICE, 
					o.OUTER_DATE, o.OUTER_THUMBNAIL_NAME, o.OUTER_IMAGENAME,
					s.SIZE_NO, s.SIZE_TYPE, s.CHEST,	
					s.SLEEVE, s.SHOULDER, 
					s.WHOLE, s.AMOUNT, s.COLOR, s.OUTER_NO,
					p.PICTURE_NO, p.PICTURE_NAME, 
					p.PICTURE_URL, p.OUTER_NO 
		FROM		OUTER_TB o, OUTER_SIZE s, OUTER_PICTURE p	
		WHERE		o.OUTER_NO = s.OUTER_NO(+)	
		AND			o.OUTER_NO = p.OUTER_NO(+)
	</sql>		 

	
	<!-- 아웃터 resultMap -->
	<resultMap id="outer-resultmap" type="com.outer_shopping.project.vo.OuterVo">
		<id column="OUTER_NO" property="outerNo"/>
		<result column="OUTER_TYPE" property="type"/>
		<result column="OUTER_NAME" property="name"/>
		<result column="OUTER_CONTENT" property="content"/>
		<result column="OUTER_PRICE" property="price"/>
		<result column="OUTER_DATE" property="insertDate"/>
		<result column="OUTER_THUMBNAIL_NAME" property="thumbnailName"/>
		<result column="OUTER_IMAGENAME" property="imageName"/>
	</resultMap>
	
	
	<!-- 아웃터 + 사이즈 resultMap -->
	<resultMap type="com.outer_shopping.project.vo.OuterVo" id="outer-size-resultmap" extends="outer-resultmap" >
		<collection property="sizeList" ofType="com.outer_shopping.project.vo.OuterSizeVo">
			<id column="SIZE_NO" property="sizeNo"/>
			<result column="SIZE_TYPE" property="type"/>
			<result column="CHEST" property="chest"/>
			<result column="SLEEVE" property="sleeve"/>
			<result column="SHOULDER" property="shoulder"/>
			<result column="WHOLE" property="whole"/>
			<result column="AMOUNT" property="amount"/>
			<result column="COLOR" property="color"/>
			<result column="OUTER_NO" property="outerNo"/>
		</collection>
	</resultMap>

	<!-- 아웃터 + 사이즈 + 이미지 resultMap -->
	<resultMap type="com.outer_shopping.project.vo.OuterVo" id="outer-size-picture-resultmap" extends="outer-size-resultmap" >
		<collection property="imageList" ofType="com.outer_shopping.project.vo.OuterPictureVo">
			<id column="PICTURE_NO" property="pictureNo"/>
		<result column="PICTURE_NAME" property="pictureName"/>
		<result column="PICTURE_URL" property="pictureUrl"/>
		<result column="OUTER_NO" property="outerNo"/>
		</collection>
	</resultMap>
	
	<!-- 등록 SQL -->
	<insert id="insertOuter" parameterType="com.outer_shopping.project.vo.OuterVo">
		<selectKey resultType="int" keyProperty="outerNo" order="BEFORE">
			select OUTER_NO.nextval from dual
		</selectKey>
		INSERT INTO OUTER_TB
		VALUES(
				#{outerNo},
				#{type},
				#{name},
				#{content},
				#{price},
				SYSDATE,
				#{thumbnailName},
				#{imageName}
			   )
	</insert>
	
	<!-- 상품 수정 SQL -->
	<update id="updateOuter" parameterType="com.outer_shopping.project.vo.OuterVo">
		UPDATE 	OUTER_TB 
		SET		OUTER_TYPE = #{type},
				OUTER_NAME = #{name},
				OUTER_CONTENT = #{content},
				OUTER_PRICE = #{price},
				OUTER_DATE = #{insertDate},
				OUTER_THUMBNAIL_NAME = #{thumbnailName},
				OUTER_IMAGENAME = #{imageName}
		WHERE	OUTER_NO = #{outerNo}
	</update>

	<!-- 상품 삭제 SQL -->
	<delete id="deleteOuter" parameterType="int">
		DELETE FROM OUTER_TB WHERE OUTER_NO = #{outerNo}
	</delete>
	
		<!-- LIST 전체 조회 SQL -->
<!-- 	<select id="selectOuterList" resultMap = "outer-resultmap">
		<include refid="select-Outer-sql"/>
		ORDER BY OUTER_DATE DESC
	</select> -->
	
	<select id="selectOuterList" resultMap="outer-size-resultmap">
		<include refid="select-Outer-size-sql"/>
		ORDER BY OUTER_DATE DESC
	</select>
	 
	
	
	<!-- 상품 상세정보 확인 SQL -->
<!--  	
	<select id="selectOuterId" parameterType="int" resultMap="outer-resultmap">
		<include refid="select-Outer-sql"/>
		WHERE OUTER_NO=#{outerNo}
	</select>
-->
	<select id="selectOuterId" parameterType="int" resultMap="outer-size-picture-resultmap">
		<include refid="select-Outer-size-picture-sql"/>
		AND o.OUTER_NO = #{outerNo}
	</select>

</mapper>